{% extends '@ApplicationUkrLogicMain/layout-main.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/applicationukrlogicmain/css/jcarousel.connected-carousels.css') }}">
{% endblock %}

{% block content %}
    <div class="order_tour">
        <h3>Бронирование тура</h3>

        <p class="close">x</p>

        {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}
        {{ form_errors(form) }}

        {{ form_widget(form.fio, { 'required': true, 'attr': { 'placeholder': 'Ф.И.О.' } }) }}
        {{ form_widget(form.phone, { 'required': true, 'attr': { 'placeholder': 'Введите ваш контактный телефон' } }) }}
        {{ form_widget(form.email, { 'required': true, 'attr': { 'placeholder': 'Введите ваш e-mail', 'class': 'email' } }) }}

        <p class="terms">
            <b>Продолжительность тура:</b> {{ tour.days }} ночей<br/>
            <b>Маршрут:</b> {{ tour.route | raw }}<br/>
        </p>

        <button type="submit">Забронировать</button>

        <div style="display: none">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="content container tour">
        <div class="connected-carousels">
            <div class="stage">
                <div class="carousel carousel-stage">
                    <ul>
                        {% for img in getTourImages((tourEntity.countries|last).id, 'countries')|default(['/images/noimagew.png']) %}
                            <li>
                                <img src="{{ asset(img) }}" width="640" height="430">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="navigation">
                <a href="#" class="prev prev-navigation">&lsaquo;</a>
                <a href="#" class="next next-navigation">&rsaquo;</a>

                <div class="carousel carousel-navigation">
                    <ul>
                        {% for img in getTourImages((tourEntity.countries|last).id, 'countries')|default(['/images/noimagew.png']) %}
                            <li>
                                <img src="{{ asset(img) }}" width="120" height="81">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="hotel-tour-description">
            <h1>{{ tour.route | raw }}</h1>

            <div class="hotel-tour-desc">
                <p class="price">{{ tour.price_usd }} $</p>
                <p>{{ tour.name|raw }}</p>
            </div>
            <div>
                <div class="vehicle-tour">
                    <p><i class="bus"></i></p>
                </div>

            </div>

            <div class="hotel-tour-info customscroll-dark">
                <p>
                    <b>Продолжительность тура:</b> {{ tour.days }} ночей<br/>
                    <b>Даты выезда:</b> {{ tourEntity.dates }}<br/>
                    <b>Тип тура:</b> {{ tour.tour_type }}<br/>
                </p>

                <p class="nm"><b>Описание тура</b></p>

                {{ tourEntity.description | raw }}


            </div>


            <div class="actions">
                <a id="addComment" class="button" href="">Оставить отзыв</a>
                <a id="order" class="button" href="">Забронировать</a>
                <a href="#" class="button" id="buy_o">Купить онлайн</a>
                {% if app.user %}
                    {% if inFavorite %}
                        <a class="button already-in favorite" href="#" style="pointer-events: none; cursor: default;">В
                            избранном</a>
                    {% else %}
                        <a class="button favorite" href="{{ path('fave_tour', { 'type': 'bus', 'id': tour.tour_id }) }}"
                           style="margin-bottom: 5px;">В избранное</a>
                    {% endif %}
                {% endif %}

            </div>

        </div>
    </div>
    {% render controller('ApplicationUkrLogicMainBundle:Tour:comment', { 'request': app.request, 'tour_id': tour.tour_id, 'tour_type': 'bus' }) %}
{% endblock %}