{% extends '@ApplicationUkrLogicMain/layout-main.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/applicationukrlogicmain/css/jcarousel.connected-carousels.css') }}">
{% endblock %}

{% block content %}
    <div class="content container tour">
        <div class="connected-carousels">
            <div class="stage">
                <div class="carousel carousel-stage">
                    <ul>
                        {% for img in getTourImages(tour.countries.country|last, 'countries') %}
                            <li>
                                <img src="{{ asset(img) }}" width="640" height="430">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="navigation">
                <a href="#" class="prev prev-navigation">&lsaquo;</a>
                <a href="#" class="next next-navigation">&rsaquo;</a>

                <div class="carousel carousel-navigation">
                    <ul>
                        {% for img in getTourImages(tour.countries.country|last, 'countries') %}
                            <li>
                                <img src="{{ asset(img) }}" width="120" height="81">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="hotel-tour-description">
            <h1>{{ tour.name }}</h1>

            <div class="hotel-tour-desc">
                <p>{{ tour.route | raw }}</p>

                <div>
                    <div class="vehicle-tour">
                        <p><i class="bus"></i></p>
                    </div>

                </div>
            </div>

            <div class="hotel-tour-info customscroll-dark">
                <p>
                    <b>Продолжительность тура:</b> {{ tour.days }} ночей<br/>
                    <b>Даты выезда:</b> {{ tour.dates }}<br/>
                    <b>Тип тура:</b> {{ tour.tour_type }}<br/>
                </p>

                <p class="nm"><b>Описание тура</b></p>

                {{ tour.description | raw}}


            </div>
            <p class="price">{{ tour.price_usd }} $</p>

            <div class="actions">
                <a id="order" class="button" href="">Забронировать</a>
                <a id="addComment" class="button" href="">Оставить отзыв</a>
            </div>

        </div>
    </div>
    <div class="content container">
        <div class="content-blue">
            <h2>Отзывы:</h2>
        </div>
    </div>
    <div class="reviews container">
        <div class="review">
            <div class="author-info">
                <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=img+placeholder">

                <p>Имя Фамилия</p>
            </div>
            <p>На острове мы с мужем провели три дня из двухнедельного отдыха в Испании. Сразу перечислю все
                положительные и отрицательные моменты отдыха на Ибице. Природа замечательная, море теплое, куча
                развлечений, пляжи с ласковым нежным песком, вкусная кухня с разнообразием морепродуктов. Из минусов,
                прежде всего очень много людей на пляже и дорогие цены на алкоголь и сигареты, говорят, в клубах очень
                много наркоманов, поэтому мы туда не ходили, хоть я и обожаю танцевать. Прямо на улице к нам подошел
                мужчина и предложил купить гашиш. Но, если не вести слишком бурную ночную жизнь и не искать приключений,
                отдохнуть можно по высшему разряду. Остров условно делится на две части – тусовочную, с барами, клубами
                и дискотеками и «спальную», где в основном и проживает местное население.</p>

            <div class="more_content" style="display: none;">
                <p>Ибицу недаром называют белым островом, почти все дома там белые и это смотрится очень красиво.
                    Транспортное сообщение хорошее, автобусы все с кондиционерами. Из заведений понравилось кафе у
                    моря</p>
            </div>
            <a href="javascript:void(0)" class="more_button ua" data-beforeclick="Читать полностью>"
               data-afterclick="Свернуть"></a>
        </div>
        <div class="review">
            <div class="author-info">
                <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=img+placeholder">

                <p>Имя Фамилия</p>
            </div>
            <p>На острове мы с мужем провели три дня из двухнедельного отдыха в Испании. Сразу перечислю все
                положительные и отрицательные моменты отдыха на Ибице. Природа замечательная, море теплое, куча
                развлечений, пляжи с ласковым нежным песком, вкусная кухня с разнообразием морепродуктов. Из минусов,
                прежде всего очень много людей на пляже и дорогие цены на алкоголь и сигареты, говорят, в клубах очень
                много наркоманов, поэтому мы туда не ходили, хоть я и обожаю танцевать. Прямо на улице к нам подошел
                мужчина и предложил купить гашиш. Но, если не вести слишком бурную ночную жизнь и не искать приключений,
                отдохнуть можно по высшему разряду. Остров условно делится на две части – тусовочную, с барами, клубами
                и дискотеками и «спальную», где в основном и проживает местное население.</p>

            <div class="more_content" style="display: none;">
                <p>Ибицу недаром называют белым островом, почти все дома там белые и это смотрится очень красиво.
                    Транспортное сообщение хорошее, автобусы все с кондиционерами. Из заведений понравилось кафе у
                    моря</p>
            </div>
            <a href="javascript:void(0)" class="more_button ua" data-beforeclick="Читать полностью>"
               data-afterclick="Свернуть"></a>
        </div>
    </div>
    <div class="content container">
        <div class="content-blue" id="more-reviews">
            <h2>Загрузить следующие отзывы</h2>
            <img src="img/ajax-loader.gif" height="28" width="28" alt="">
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="order_tour">
        <h3>Бронирование тура</h3>
        <form>
            <p class="close">x</p>
            <input type="text" name="fio" placeholder="Ф.И.О." required="required">
            <input type="text" name="phone" placeholder="Введите ваш контактный телефон" required="required">
            <input type="text" name="email" placeholder="Введите ваш e-mail" required="required">
            <p class="terms">
                <b>Кол-во человек:</b> 1-4<br />
                <b>Тип номера:</b> LUX<br />
                <b>Тип питания:</b> Шведский стол<br />
                <b>Продолжительность тура:</b> 14 дней<br />
                <b>Вылет из Харьков:</b> Харьков<br />
            </p>
            <button type="submit">Забронировать</button>
        </form>
    </div>
    <div class="add_comment">
        <h3>Оставить отзыв</h3>
        <form>
            <p class="close">x</p>
            <input type="text" name="fio" placeholder="Ф.И.О." required="required">
            <textarea name="commnet"  placeholder="Введите отзыв"></textarea>
            <button type="submit">Ок</button>
        </form>
    </div>
{% endblock %}