{% extends '@ApplicationUkrLogicMain/layout-main.html.twig' %}

{% block content %}
    <div class="content container">
        <div id="container" class="masonry">
            <div class="box w filter">
                {{ form_start(form) }}
                <div class="filter-variant clear">
                    <div class="button {% if type == 'combined' or type == 'bus' %}active{% endif %}">Автобусный тур</div>
                    <div class="button {% if type == 'combined' or type == 'avia' %}active{% endif %}">Авиа тур</div>
                </div>

                <div class="avia-section">

                    <div class="filter-section from clear hide-on-bus">
                        <h3>Вылет из города</h3>

                        <div>
                            <div class="from-group customscroll short">
                                {% for field in form.cities %}
                                    <div>
                                        {{ form_widget(field) }}
                                        {{ form_label(field) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter-section to clear">
                        <h3>Страна прибытия</h3>

                        <div>
                            <div class="from-group customscroll to">
                                {% for field in form.countries %}
                                    <div>
                                        {{ form_widget(field) }}
                                        <label for="{{ field.vars.id }}">{{ field.vars.label | trans | raw }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter-section clear">
                        <h3>Курорт</h3>

                        <div>
                            <div class="rangeInlinePicker"></div>
                            <h4>Продолжительность тура</h4>

                            <div class="subcategory">
                                <div class="slider-day">
                                    <p class="start">1</p>

                                    <p class="end">30</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="filter-section clear hide-on-bus">
                        <h3>Отель</h3>

                        <div>
                            <h4>Категория отеля</h4>

                            <div class="subcategory">
                                <div class="stars">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                                <div class="intext">
                                    <div>HV-1</div>
                                </div>
                            </div>
                            <h4>Количество туристов</h4>

                            <div class="subcategory">
                                {{ form_widget(form.adult_count, {id: 'adult'}) }}
                                {{ form_widget(form.child_count, {id: 'child'}) }}
                            </div>
                        </div>
                    </div>

                    <div class="filter-section clear">
                        <h3>Стоимость тура</h3>

                        <div>
                            <div class="subcategory">
                                <div class="slider-cost">
                                    <p class="start">100</p>

                                    <p class="end">50 000</p>
                                </div>
                                <!-- <input class="cost" type="text" placeholder="...или точная сумма"> -->

                            </div>
                        </div>
                    </div>

                </div>
                {{ form_widget(form.submit) }}
                <div style="display: none;">{{ form_rest(form) }}</div>
                {{ form_end(form) }}
            </div>
            {{ include('@ApplicationUkrLogicMain/Tour/tiles.html.twig', {tours: tours}) }}
        </div>
    </div>
{% endblock %}