{% extends '@ApplicationUkrLogicMain/layout-main.html.twig' %}

{% block content %}
    <div class="content container">
        <div id="container" class="masonry">
            <div class="box w filter">
                {{ form_start(form) }}
                <div class="filter-variant clear">
                    <div class="button filter-type {% if form.type.vars.value == 'bus' %}active{% endif %}"
                         data-class="bus">Автобусный тур
                    </div>
                    <div class="button filter-type {% if form.type.vars.value == 'avia' %}active{% endif %}"
                         data-class="avia">Авиа тур
                    </div>
                    <div class="button hot">Горящие туры</div>
                </div>

                <div class="avia-section">

                    <div class="filter-section from clear hide-on-bus">
                        <h3>Вылет из города</h3>

                        <div>
                            <div class="from-group customscroll short">
                                {% for child in form.city %}
                                    <div>
                                        {{ form_widget(child) }}
                                        {{ form_label(child) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter-section to clear">
                        <h3>Страна прибытия</h3>

                        <div>
                            <div class="from-group customscroll to">
                                {% for child in form.country %}
                                    <div>
                                        {{ form_widget(child) }}
                                        <label for="{{ child.vars.id }}">
                                            {{ child.vars.label }}
                                            <i class="flag-{{ getCountry(child.vars.value).nick }}"></i>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter-section clear">
                        <h3>Курорт</h3>

                        <div>
                            <div class="rangeInlinePicker"></div>
                            <h4>Продолжительность тура</h4>

                            <div class="subcategory">
                                <div class="slider-day">
                                    <p class="start">1</p>

                                    <p class="end">30</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="filter-section clear hide-on-bus">
                        <h3>Отель</h3>

                        <div>
                            <h4>Название отеля</h4>

                            <div class="subcategory">
                                <div class="ui-widget">
                                    {{ form_widget(form.hotel, { id: 'hotel-widget' }) }}
                                </div>
                            </div>

                            <h4>Категория отеля</h4>

                            <div class="subcategory">
                                <div class="stars">
                                    <span class="star" data-value="1*"></span>
                                    <span class="star" data-value="2*"></span>
                                    <span class="star" data-value="3*"></span>
                                    <span class="star" data-value="4*"></span>
                                    <span class="star" data-value="5*"></span>
                                </div>
                                <div class="intext">
                                    <div data-value="HV-1">HV-1</div>
                                </div>
                            </div>

                            <h4>Тип питания</h4>

                            <div>
                                <div class="from-group customscroll">
                                    {% for child in form.meal %}
                                        <div>
                                            {{ form_widget(child) }}
                                            <label for="{{ child.vars.id }}">
                                                {{ getMeal(child.vars.value).description }}
                                                {{ getMeal(child.vars.value).nick }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <h4>Количество туристов</h4>

                            <div class="subcategory">
                                {{ form_widget(form.adult_count, {id: 'adult'}) }}
                                {{ form_widget(form.child_count, {id: 'child'}) }}
                            </div>
                        </div>
                    </div>

                    <div class="filter-section clear">
                        <h3>Стоимость тура</h3>

                        <div>
                            <div class="subcategory">
                                <div class="slider-cost">
                                    <p class="start">100</p>

                                    <p class="end">10 000</p>
                                </div>
                                <!-- <input class="cost" type="text" placeholder="...или точная сумма"> -->

                            </div>
                        </div>
                    </div>

                </div>
                {{ form_widget(form.submit) }}
                <div style="display: none;">{{ form_rest(form) }}</div>
                {{ form_end(form) }}
            </div>
            <div id="tiles">
                {{ include('@ApplicationUkrLogicMain/Tour/tiles.html.twig', {tours: tours}) }}
            </div>
        </div>
    </div>
{% endblock %}