{% extends '@ApplicationUkrLogicMain/layout-main.html.twig' %}

{% block content %}
    <div class="content container">
        <div id="container" class="masonry">
            <div class="box w filter">
                {{ form_start(form) }}
                <div class="filter-variant clear">
                    <div class="button {% if form.is_bus %}active{% endif %}" data-class="is_bus">Автобусный тур</div>
                    <div class="button {% if form.is_avia %}active{% endif %}" data-class="is_avia">Авиа тур</div>
                    <div class="button hot">Горящие туры</div>
                </div>

                <div class="avia-section">

                    <div class="filter-section from clear hide-on-bus">
                        <h3>Вылет из города</h3>

                        <div>
                            <div class="from-group customscroll short">
                                {% for field in form.cities %}
                                    <div>
                                        {{ form_widget(field) }}
                                        {{ form_label(field) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter-section to clear">
                        <h3>Страна прибытия</h3>

                        <div>
                            <div class="from-group customscroll to">
                                {% for field in form.countries %}
                                    <div>
                                        {{ form_widget(field) }}
                                        <label for="{{ field.vars.id }}">{{ field.vars.label | trans | raw }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter-section clear">
                        <h3>Курорт</h3>

                        <div>
                            <div class="rangeInlinePicker"></div>
                            <h4>Продолжительность тура</h4>

                            <div class="subcategory">
                                <div class="slider-day">
                                    <p class="start">1</p>

                                    <p class="end">30</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="filter-section clear hide-on-bus">
                        <h3>Отель</h3>

                        <div>
                            <h4>Категория отеля</h4>

                            <div class="subcategory">
                                <div class="stars">
                                    <span class="star" data-value="1*"></span>
                                    <span class="star" data-value="2*"></span>
                                    <span class="star" data-value="3*"></span>
                                    <span class="star" data-value="4*"></span>
                                    <span class="star" data-value="5*"></span>
                                </div>
                                <div class="intext">
                                    <div data-value="HV-1">HV-1</div>
                                </div>
                            </div>

                            {% if form.hotels is defined %}
                                <h4>Отель</h4>

                                <div>
                                    <div class="from-group customscroll">
                                        {% for field in form.hotels %}
                                            <div>
                                                {{ form_widget(field) }}
                                                {{ form_label(field) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            <h4>Количество туристов</h4>

                            <div class="subcategory">
                                {{ form_widget(form.adult_count, {id: 'adult'}) }}
                                {{ form_widget(form.child_count, {id: 'child'}) }}
                            </div>
                        </div>
                    </div>

                    <div class="filter-section clear">
                        <h3>Стоимость тура</h3>

                        <div>
                            <div class="subcategory">
                                <div class="slider-cost">
                                    <p class="start">100</p>

                                    <p class="end">10 000</p>
                                </div>
                                <!-- <input class="cost" type="text" placeholder="...или точная сумма"> -->

                            </div>
                        </div>
                    </div>

                </div>
                {{ form_widget(form.submit) }}
                <div style="display: none;">{{ form_rest(form) }}</div>
                {{ form_end(form) }}
            </div>
            <div id="tiles">
                {{ include('@ApplicationUkrLogicMain/Tour/tiles.html.twig', {tours: tours}) }}
            </div>
        </div>
    </div>
{% endblock %}