{% extends '@ApplicationUkrLogicMain/profile-layout.html.twig' %}
{% block profile_content %}
    <div class="m-header">
        <h3>Новости</h3>
    </div>
    {% for post in news %}
        <a href="#" class="box news">
            <div class="flipper">
                <div class="front">
                    <img src="img/news/news-1.jpg" alt="">

                    <div class="news-header">
                        <span>{{ post.title }}</span>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}

    <div class="m-header-comments box stamp">
        <h3>Новые комментарии</h3>
    </div>
    {% include '@ApplicationUkrLogicMain/Tour/tiles.html.twig' with { 'tours': commentsTours } %}

{% endblock %}

{% block user_info %}
    {{ form_start(form) }}
    <h3>Личный кабинет туриста</h3>

    <div class="user-info">
        <div class="photo">
            <img src="img/users/user-1.jpg">
            <label for="photo-edit" class="photo-edit"></label>
            <input type="file" id="photo-edit" name="photo-edit">
        </div>

        <div>
            {{ form_errors(form) }}
            {{ form_widget(form.firstname, { 'attr': { 'class': 'nonplace', 'placeholder': 'Имя' } }) }}
            {{ form_widget(form.lastname, { 'attr': { 'class': 'nonplace', 'placeholder': 'Фамилия' } }) }}
            {{ form_widget(form.username, { 'attr': { 'class': 'nonplace nickname', 'placeholder': 'Никнейм' } }) }}
            {{ form_widget(form.phone, { 'attr': { 'class': 'nonplace', 'placeholder': 'Телефон' } }) }}
            {{ form_widget(form.email, { 'attr': { 'class': 'nonplace', 'placeholder': 'E-mail' } }) }}
        </div>
    </div>
    <div class="confirm">
        <a href="{{ app.request.requestUri }}">Отмена</a>
        <button type="submit">Сохранить</button>
    </div>
    {{ form_end(form) }}
{% endblock %}