{% extends '@ApplicationUkrLogicMain/profile-layout.html.twig' %}
{% block profile_content %}
    <div class="m-header masonry-brick">
        <h3>Новости</h3>

        <div class="pagination">
            {{ knp_pagination_render(news) }}
        </div>
    </div>
    {% for post in news %}
        <a href="{{ path('post', { 'id': post.id }) }}" class="box news">
            <div>
                <div class="front">
                    <img src="{% if post.webPath %}{{ post.webPath }}{% else %}http://dummyimage.com/230x230/000/fff.jpg&text=no+photo{% endif %}"
                         alt="{{ post.title }}" height="230" width="230">

                    <div class="news-header">
                        <span>{{ post.title }}</span>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}

    <div class="m-header-comments box stamp">
        <h3>Новые комментарии</h3>
    </div>
    {% include '@ApplicationUkrLogicMain/Tour/tiles.html.twig' with { 'tours': commentsTours } %}
{% endblock %}