<div class="registration">
    <h3>Регистрация</h3>

    {{ form_errors(form) }}

    <form action="{{ path('sonata_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
          class="fos_user_registration_register">
        {{ form_widget(form.email, { 'attr': { 'placeholder': 'Введите ваш e-mail' } }) }}
        {{ form_widget(form.username, { 'attr': { 'placeholder': 'Введите ваш логин' } }) }}
        {% for key, field in form.plainPassword %}
            {{ form_widget(field, { 'attr': { 'placeholder': key == 'first' ? 'Введите ваш пароль' : 'Повторно введите ваш пароль' } }) }}
        {% endfor %}
        <p class="terms">Нажимая кнопку "Зарегистрироваться" Вы соглашаетесь с условиями.</p>
        <button type="submit">Зарегистрироваться</button>
        {{ form_rest(form) }}
    </form>
</div>