{% extends "@ApplicationUkrLogicMain/layout-main.html.twig" %}


{% block content %}
<div class="content">
    <img style="margin: 0 25% 0 25%; width: 50%;" src="{{ asset("img/logoo.jpg") }}">

    <div class="content-blue clearfix" id="feedback-content">

        <p>
            <strong style="color: black;">
                Туристическая фирма Color Travel, готова организовать Ваш отдых или путешествие от А до Я.
                Уникальная программа поиска туров, позволяет менеджерам туристического отдела за считаные минуты
                подобрать горящий или заранее запланированный тур по наиболее интересной цене.
                Наши партнеры это лидеры тиристической индустрии - поэтому Вы можете быть уверенны, что спектр
                предлагаемых нами услуг будет предоставлен на высшем уровне.
            </strong>
        </p>

        <img style="width: 100%;" src="{{ asset("img/post.jpg") }}">
        <div id="showmap" style="width: 100%;margin-top: -110px;z-index: 999;position: relative;">
			<a href="/app_dev.php/avia-tickets" style="float: left;width: 33%;">Просмотреть увеличенную карту</a>
			<a href="/app_dev.php/avia-tickets" style="float: left;width: 33%;">Просмотреть увеличенную карту</a>
			<a href="/app_dev.php/avia-tickets" style="float: left;width: 33%;">Просмотреть увеличенную карту</a>
		</div>
		<br>
		<img style="width: 100%;" src="{{ asset("img/post2.jpg") }}">

        <div class="content-blue clearfix" id="feedback-form">
            <h2>Обратная связь</h2>
            {{ form_start(form, { 'attr': { 'class': 'contact-form' } }) }}
            {{ form_errors(form.captcha) }}
            <div class="main-fields">
                <div class="half first">
                    {{ form_widget(form.name, { 'attr': {'placeholder': "Ф.И.О"} }) }}
                    {{ form_widget(form.email, {'attr': {'placeholder' : 'E-mail' } }) }}
                    {{ form_widget(form.phone, {'attr': {'placeholder' : 'Контактный телефон' } }) }}
                </div>
                <div class="half second">
                    {{ form_widget(form.captcha, { 'width': 120, 'height': 50 }) }}
                    {{ form_widget(form.submit, { 'label': 'Отправить' }) }}
                </div>
            </div>
            {{ form_widget(form.message, {'attr': {'placeholder' : 'Введите ваше сообщение...' } }) }}
            {{ form_end(form) }}
        </div>
    </div>
    {% endblock %}

    {% form_theme form _self %}

    {% block captcha_widget %}
    {% spaceless %}
        <div class="captcha">
            <img src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}"
                 height="{{ captcha_height }}"/>
        </div>
        {{ form_widget(form, { 'attr': { 'placeholder': "Введите код с изображения" } }) }}
    {% endspaceless %}
{% endblock %}