{% extends "@ApplicationUkrLogicMain/layout-main.html.twig" %}


{% block content %}
    <div class="content">
        <h1>О компании</h1>
        <img src="{{ asset("img/about-main.jpg") }}">

        <div class="content-blue clearfix">
            <ul class="licenses">
                <li>
                    <img src="{{ asset("img/license-1.jpg") }}">
                </li>
                <li>
                    <img src="{{ asset("img/license-2.jpg") }}">
                </li>
                <li>
                    <img src="{{ asset("img/license-3.jpg") }}">
                </li>
                <li>
                    <img src="{{ asset("img/license-4.jpg") }}">
                </li>
            </ul>

            <p>
                <strong>
                    Туристическая фирма Color Travel, готова организовать Ваш отдых или путешествие отА до Я.
                    Уникальная программа поиска туров, позволяет менеджерам туристического отдела за считаные минуты
                    подобрать горящий или заранее запланированный тур по наиболее интересной цене. Наши партнеры это
                    лидеры тиристической индустрии - поэтому Вы можете быть уверенны, что спектр предлагаемых нами услуг
                    будет предоставлен на высшем уровне.
                </strong>
            </p>

            <p class="largemargin left">
                <strong>Направления деятельности:</strong>
            </p>

            <p class="left small">
                - Горящие туры Турция, Египет, Тайланд, горящие предложение по Европе, с вылетами из Харькова и из
                любого города Украины и России.
                <br/>- Для взыскательных клиентов мы готовы предложить экзотические туры - Мальдивы, Маврикий, Куба,
                Доминикана, Гоа, Шри-Ланка, Сейшелы и т.д.
                <br/>- Туры в Хорватию и Черногорию на чартерных авиа рейсах, с вылетами из Харькова и из любого города
                Украины и России
                <br/>- Корпоративные и групповые туры, для взрослых и детей, по Украине и зарубежью.
                <br/>- Бронирование авиабилетов в любую точку мира, Вы можете забронировать авиабилеты сами,
                воспользовавшись программой "авиабилеты on-line" на нашем сайте, или доверить подбор оптимального
                перелета менеджеру туристического отдела.
                <br/>- Для любителей горнолыжного отдыха, рады предложить любой интересующий Вас регион катания (Польша,
                Словакия, Италия, Франция, Австрия, Грузия, Турция, и т.д.),при этом Вы можете быть уверенными, что
                получите максимально точную и актуальную информацию о специфике выбранного региона, работе подъемников,
                сложностях трасс, стоимости горнолыжных абонементов.
                <br/>- Бизнес туры в Китай. для людей, бизнес которых связан с Китаем, предлагаем организацию тура:
                бронирование перелета, подбор гостиницы, офрмление визы в любые сроки, консультации по интересующим Вас
                выставкам или мероприятиям.
                <br/>- Визовая поддержка в странах Шенгеского Соглашения - "шенген без головной боли", теперь Вам не
                нужно собирать документы и справки, достаточно, просто обратиться к нам.
                <br/>- Для студентов - программы по стажировке в анимационных составах отелей Турции, Египта и Болгарии.
            </p>

            <p class="largemargin left">
                <strong>Туристический отдел:</strong>
            </p>

            <p class="left small">Менеджеры туристического отдела позаботятся о Вашем отдыхе и возьмут на себя решение
                всех организационных вопросов: оформление заграничного паспорта, подбор оптимального перелета,
                бронирование лучего отеля в городе и предоставление полной информации о стране перебывания, для того,
                чтобы Ваше путушуствие стало незабываемым и комфортным.
                <br/>Если у Вас нет заграничного паспорта, мы с радостью окажем Вам услуги по его оформлению в любые
                сроки, по низким ценаам.
                <br>Мы окажем услуги по визовой поддежке Вашего путешествия, избавив Вас от хлопот!
                <br/>Кроме того, мы осуществим страхование - комплекс программ, позволяющих обезопасить Вас от
                непредвиденных расходов во время поездок по зарубежью.
                <br/>Плюс ко всему, клиентам предлагается возможность оформить туры в рассрочку.</p>
        </div>
        <div class="content-blue clearfix">
            <h2>Обратная связь</h2>
            {{ form_start(form, { 'attr': { 'class': 'contact-form' } }) }}
            {{ form_errors(form.captcha) }}
            <div class="main-fields">
                <div class="half first">
                    {{ form_widget(form.name, { 'attr': {'placeholder': "Ф.И.О"} }) }}
                    {{ form_widget(form.email, {'attr': {'placeholder' : 'E-mail' } }) }}
                    {{ form_widget(form.phone, {'attr': {'placeholder' : 'Контактный телефон', 'class': 'phone-mask' } }) }}
                </div>
                <div class="half second">
                    {{ form_widget(form.captcha, { 'width': 120, 'height': 50 }) }}
                    {{ form_widget(form.submit, { 'label': 'Отправить' }) }}
                </div>
            </div>
            {{ form_widget(form.message, {'attr': {'placeholder' : 'Введите ваше сообщение...' } }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% form_theme form _self %}

{% block captcha_widget %}
    {% spaceless %}
        <div class="captcha">
            <img src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}"
                 height="{{ captcha_height }}"/>
        </div>
        {{ form_widget(form, { 'attr': { 'placeholder': "Введите код с изображения" } }) }}
    {% endspaceless %}
{% endblock %}