{% extends "ApplicationUkrLogicMainBundle::layout-main.html.twig" %}

{% block content %}
    <div class="content container">
        <div id="container">
            <div class="masonry-news">
                <div class="box w user">
                    <div class="user-account">
                        {% block user_info %}
                            <h3>Личный кабинет туриста</h3>

                            <div class="user-info">
                                <div class="photo">
                                    <img src="{% if app.user.webPath %}{{ app.user.webPath }}{% else %}http://dummyimage.com/95x95/000/fff.jpg&text=profile+image{% endif %}" width="95" height="95">
                                </div>

                                <div>
                                    <p>{{ app.user.firstname }} {{ app.user.lastname }}</p>

                                    <p class="nickname">{{ app.user.username }}</p>

                                    <p>{{ app.user.phone }}</p>

                                    <p>{{ app.user.email }}</p>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                    <ul class="navigation">
                        {{ knp_menu_render('profile') }}
                    </ul>
                    <a href="{{ path('sonata_user_security_logout') }}" id="logout">Выход</a>
                </div>
                {% block profile_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}